:root {
    --numberColor: 0;
}

body,html {
    margin: 0;
}

#stopWatchFrame {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    background-color: lightgray;
    width: 100%;
    height: 50%;
    
}

#startButton {
    position: fixed;
    background-image: url(../img/start.png);
    width: 8%;
    height: 8%;
    top: 50%;
    align-self: center;
}

#startButton:hover {
    transform: scale(1.1)
}

#numberColor {
    position: fixed;
    top: 60%;
    width: 60%;
    height: 2em;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(
        to top left,
        rgba(122, 99, 255, .2),
        rgba(130, 100, 255, .2) 30%,
        rgba(109, 72, 72, 0));
    box-shadow: inset 2px 2px 3px
        rgba(51, 48, 65, 0.6),
        inset -2px -2px 3px rgba(162, 151, 230, 0.6);
    border-radius: 15px;
}

#numberColor::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(161, 148, 235);
    cursor: pointer;
}  

#numberColor::-moz-range-thumb {
    width: 2em;
    height: 2em;
    background: rgb(145, 137, 194);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: inset 2px 2px 3px
        rgba(51, 48, 65, 0.6),
        inset -2px -2px 3px rgba(162, 151, 230, 0.6);
}

#clockFrame {
    display: grid;
    grid-template-columns: 50% 50%;
    width: clamp(8rem,30% ,20em);
    grid-auto-rows: minmax(20%, auto);
    grid-gap: 1em;
    grid-template-areas:
    "counter counter"
    "counter counter"
    "plus minus";
    height: 100%;
    margin-top: .5em;   
}

#counter {
    grid-area: counter;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    cursor: default;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(
        to top left,
        rgba(122, 99, 255, .2),
        rgba(130, 100, 255, .2) 30%,
        rgba(109, 72, 72, 0));
    box-shadow: inset 2px 2px 3px
        rgba(51, 48, 65, 0.6),
        inset -2px -2px 3px rgba(162, 151, 230, 0.6);
    border-radius: 4em;
}

#counter > h1 {
    font-size: clamp(8em, 15em, 80%);
    font-family: 'digital', sans-serif;
    font-weight: 100;
    animation: heartbeat_text 2s  forwards;
}

.button {
    background-size:100% 100%;
    opacity: 60%;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer ;
}

#plusButton {
    grid-area: plus;
    background-image: url(../img/plus.png);
}

#plusButton:hover {
    transform: scale(1.1)
}

#minusButton {
    grid-area: minus;
    background-image:  url(../img/minus.png);
}

#minusButton:hover{
    transform: scale(1.1)
}

@font-face {
    font-family: 'digital';
    src: url('../fonts/DS-DIGI.TTF') format('truetype');
}

@keyframes heartbeat_text{
    from{
        text-shadow: 0 0px 1px rgb(225, 225, 225); 
        color: hsl(calc(var(--numberColor) - 9), 98%, 41%);; 
    }
    to{
        text-shadow: 0 0px 25px hsl(var(--numberColor), 100%, 50%);
        color: hsl(var(--numberColor), 100%, 50%);
    }
}